.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
}

.header,
.footer {
  background-color: orange;
}

.sidebar2 {
  background-color: yellow;
  color: #444;
}
.sidebar {
        background-color: red;
  
}